<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Refract</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css">
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css">
    <![endif]-->
    <link rel="stylesheet" href="static/refract.css" type="text/css" media="screen">
  </head>
  <body>
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/Osmose/refract">Fork me on GitHub</a>
        </div>
    </div>

    <div class="container">
      <div class="page-header">
        <h1>Refract <small>Turn any website into an installable application</small></h1>
      </div>
      <p class="lead">Enter the full URL to a webpage and click Install to install it as an <a href="https://developer.mozilla.org/en-US/Apps">Open Web App</a> or a <a href="https://developer.chrome.com/apps/about_apps">Chrome App</a>.</p>

      <form id="install-form">
        <div class="form-group">
          <label for="url" class="sr-only">App URL</label>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="app-url" placeholder="http://example.com">
            <span class="input-group-btn">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Install
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="open-web-app-install">Open Web App (Firefox)</a></li>
                <li><a href="#" id="chrome-app-install">Chrome App</a></li>
              </ul>
            </span>
          </div>
        </div>

        <div id="chrome-install-instructions" class="alert alert-info">
          <p><strong>To finish installing the Chrome app:</strong></p>
          <ol>
            <li>Click the "Keep" button when Chrome warns you about the download.</li>
            <li>Open the Extensions section in the preferences page.</li>
            <li>Drag and drop the downloaded <code>crx</code> file over the extensions page. Note that dragging from the downloads bar within Chrome won't work; you must drag from outside of Chrome.</li>
          </ol>
        </div>

        <div id="toggle-extras">
          <button class="btn btn-default" type="button">Customize App</button>
        </div>

        <div id="extras">
          <h2>Customization</h2>
          <p>Refract will attempt to auto-fill any blank customization fields by pulling info from the webpage itself.</p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="app-name">App Name</label>
                <input type="text" class="form-control" id="app-name" placeholder="My Refracted App" autocomplete="off">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="app-icon">App Icon URL</label>
                <input type="text" class="form-control" id="app-icon-url" placeholder="http://example.com/myicon.png" autocomplete="off">
                <span class="help-block">512x512 PNG preferred. Other sizes will be scaled to 512x512 pixels. <br><br> If you made your own icon, throw it up on <a href="http://imgur.com/">Imgur</a> or something and enter the direct link to the image here.</span>
              </div>
            </div>
          </div>
        </div>
      </form>

      <footer class="footer">
        <p>Thanks to Martha Ormiston from the Noun Project for the default prism icon.</p>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="static/refract.js"></script>

    {% if config.GA_TRACKING_ID %}
    <!-- Google Analytics BS so I can see who cares about this. Feel free to
         block this with tracking protection or whatever. :D -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ config.GA_TRACKING_ID }}', 'auto');
    ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
