.footer {
    border-top: 1px solid #EEE;
    color: #777;
    margin-top: 40px;
    padding-top: 20px;
}

#app-icon {
    height: 32px;
}

#extras {
    border-top: 1px solid #EEE;
    display: none;
    margin-top: 40px;
}
